* {
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	transition: 0.3s
}

.badges {
	display: block;
	justify-content: center;
	align-items: center;
	width: auto;
}

.badges img {
	height: 210px;
	margin-bottom: 1%;
}

.badges .img-subtitle {
	margin-top: 2%;
	margin-bottom: .5%;
	font-size: 0.9em;
	color: white;
	font-style: italic;
	font-family: 'Asul', sans-serif;
}

#img-gap {
	margin-top: 1%;
	margin-bottom: 4%;
}
