.txt-blue {color: dodgerblue;}
.txt-lblue {color: deepskyblue;}
.txt-dblue {color: blue;}
.txt-green {color: forestgreen;}
.txt-lgreen {color: palegreen;}
.txt-dgreen {color: darkgreen;}
.txt-yellow {color: yellow;}
.txt-magenta {color: magenta;}
.txt-purple {color: purple;}
.txt-gold {color: goldenrod;}
.txt-red {color: red;}
.txt-lred {color: orangered;}
.txt-dred {color: darkred;}
.txt-brown {color: saddlebrown;}
.txt-white {color: white;}
.txt-black {color: black;}
.txt-gray {color: gray;}
.txt-lgray {color: lightgray;}
.txt-dgray {color: darkslategray;}