#button.lblue {
    margin-top: 20px;
    text-decoration: none;
    font-size: 1.4em;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    padding-bottom: 5px;
    height: 30%;
    padding-top: 3px;
    border: 2px solid #00FFE5;
}

#button.lblue:hover {
    margin-top: 20px;
    text-decoration: none;
    font-size: 1.4em;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    padding-bottom: 5px;
    padding-top: 3px;
    height: 30%;
    background-color: #0066ff;
    border: 2px solid #0066ff;
}

#button.lblue:active {
    margin-top: 20px;
    text-decoration: none;
    font-size: 1.4em;
    padding-left: 10px;
    padding-right: 10px;
    height: 30%;
    cursor: pointer;
    padding-bottom: 5px;
    padding-top: 3px;
    background-color: #0051cc;
    border: 2px solid #0051cc;
}

#button.yellow {
    margin-top: 20px;
    text-decoration: none;
    font-size: 1.4em;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    padding-bottom: 5px;
    height: 30%;
    padding-top: 3px;
    border: 2px solid #fff37f;
}

#button.yellow:hover {
    margin-top: 20px;
    text-decoration: none;
    font-size: 1.4em;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    height: 30%;
    padding-bottom: 5px;
    padding-top: 3px;
    background-color: #ffe900;
    border: 2px solid #ffe900;
}

#button.yellow:active {
    margin-top: 20px;
    text-decoration: none;
    height: 30%;
    font-size: 1.4em;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    padding-bottom: 5px;
    padding-top: 3px;
    background-color: #ccbb00;
    border: 2px solid #ccbb00;
}

#button.purple {
    margin-top: 20px;
    text-decoration: none;
    font-size: 1.4em;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    padding-bottom: 5px;
    height: 30%;
    padding-top: 3px;
    border: 2px solid #B270FF;
}

#button.purple:hover {
    margin-top: 20px;
    text-decoration: none;
    font-size: 1.4em;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    height: 30%;
    padding-bottom: 5px;
    padding-top: 3px;
    background-color: #9A47FF;
    border: 2px solid #9A47FF;
}

#button.purple:active {
    margin-top: 20px;
    text-decoration: none;
    height: 30%;
    font-size: 1.4em;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    padding-bottom: 5px;
    padding-top: 3px;
    background-color: #6830AD;
    border: 2px solid #6830AD;
}

#button.red {
    margin-top: 20px;
    text-decoration: none;
    font-size: 1.4em;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    padding-bottom: 5px;
    height: 30%;
    padding-top: 3px;
    border: 2px solid #FF424B;
}

#button.red:hover {
    margin-top: 20px;
    text-decoration: none;
    font-size: 1.4em;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    height: 30%;
    padding-bottom: 5px;
    padding-top: 3px;
    background-color: #FF000C;
    border: 2px solid #FF000C;
}

#button.red:active {
    margin-top: 20px;
    text-decoration: none;
    height: 30%;
    font-size: 1.4em;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    padding-bottom: 5px;
    padding-top: 3px;
    background-color: #A50008;
    border: 2px solid #A50008;
}