@import url('https://fonts.googleapis.com/css?family=Alike+Angular|Asul|Cedarville+Cursive|Concert+One|Eczar|Fruktur|Kavoon|Neuton|Notable|Pacifico|Space+Mono|Tillana|Work+Sans|Lobster+Two');


.notable{font-family: 'Notable', sans-serif;}
.cedarville{font-family: 'Cedarville Cursive', cursive;}
.pacifico{font-family: 'Pacifico', cursive;}
.work-sans{font-family: 'Work Sans', sans-serif;}
.space-mono{font-family: 'Space Mono', monospace;}
.concert-one{font-family: 'Concert One', cursive;}
.kavoon{font-family: 'Kavoon', cursive;}
.fruktur{font-family: 'Fruktur', cursive;}
.tillana{font-family: 'Tillana', cursive;}
.asul{font-family: 'Asul', sans-serif;}
.alike-regular{font-family: 'Alike Angular', serif;}
.neuton{font-family: 'Neuton', serif;}
.eczar{font-family: 'Eczar', serif;}
.lobster{font-family: 'Lobster Two', cursive;}

.underline{text-decoration: underline;}
.bold{font-weight: bold;}
.italic{font-style: italic;}